<template>
  <mapbox-map
    :accessToken="accessToken"
    :mapStyle="mapStyle"
    height="1000px"
  >
    <mapbox-marker
      v-for="building in buildings"
      :key="building.id"
      :lngLat="building.location.coordinates">
      <mapbox-popup>
        <div>
          <q-card class="my-card">
            <img :src="building.photo_url">

            <q-card-section>
              <div class="text-h6">{{building.name}}</div>
              <div class="text-subtitle2">{{building.architects[0]}}</div>
              <div class="text-subtitle2">Годы строительства: {{building.construction_date}}</div>
            </q-card-section>

            <q-card-section class="q-pt-none">
              {{ lorem }}
            </q-card-section>
          </q-card>
        </div>
      </mapbox-popup>
    </mapbox-marker>
  </mapbox-map>
  <div
    v-for="building in buildings"
    :key="building.id"
  >{{building}}</div>
</template>

<script lang="ts">

import {defineComponent, ref} from 'vue';
import {MapboxMap, MapboxMarker, MapboxPopup} from 'vue-mapbox-ts';
// import axios from 'axios';

export default defineComponent({
  name: 'IndexPage',
  components: {MapboxMap, MapboxMarker, MapboxPopup},
  setup() {
    const accessToken = 'pk.eyJ1IjoibWlraGFpbG1pYXppbiIsImEiOiJja3l4YWludnowMnhlMm5ybjhwc3R4cHRvIn0.0mCpqm5fzrBSrdIH6CzA9Q';
    const mapStyle = 'mapbox://styles/mikhailmiazin/cl1kledcs000615pmt4m070ah';
    const buildings = ref([
      {
        'id': 1,
        'photo_url': 'https://pastvu.com/_p/a/c/e/0/ce08943879eff790cba1ee8020e8ea35.jpg',
        'name': 'Здание ВЦСПС',
        'architects': ['Александр Васильевич Власов'],
        'country': 'Россия',
        'region': 'Москва',
        'address': 'Ленинский проспект, 42к2, Москва, Россия',
        'construction_date': '1931-1936',
        'location': {
          'type': "Point",
          'coordinates': [ 37.567024, 55.703109 ]
        }
      }
    ])
    // const map: any = ref<any>(null);
    const lorem = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.';
    // const setMap = (m: any) => {
    //   console.log('map loaded');
    //   map.value = m;
    //   (window as any).map = m;
    // }


    // const result: any = ref<any>(null);
    //
    // onMounted(async () => {
    //   result.value = await axios.get('http://127.0.0.1:8000/buildings')
    // })
    // // axios.get('http://127.0.0.1:8000/buildings')
    // //   .then(data => result.value = data);
    // console.log(result);

    return {accessToken, mapStyle, lorem, buildings}
  }
});
</script>
